      .circle{
        width: 50px;
        border-radius: 100%;
        height: 50px;
      }

      .logo{
        height: 50px;
        position: relative;
        }

      .loader{
         text-align: center;
         margin: 0 auto;
         display: none;
      }

      .heading{
      border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #ee6e73;
    margin-bottom: 30px !important;
      }

      .search-list{
         display: none;
      }

      .power{
        color: #ee6e73;
        text-align: center;
      }
